/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General */
body{
    font-family: "Poppins";
}

.navbar{
    box-shadow: 0px 2px 5px #e6e6e6;
    background-color: #fff !important;
}

.title{
    font-size: 3rem;
    font-weight: 600;
    color: #00554C;
}

.subtitle{
    font-size: 1rem;
    color: #666;
}

.margin_sec{
    margin-top: 7rem;
}

.nav-link:hover{
    color: #00554C !important;
}

.icon{
    font-size: 1.2rem;
}

.icon i:hover{
    color: #00554C !important;
}

.rounded-circle i{
    color: #00554C;
}
.p-c p {
    color: #666;
}
.input-group-text{
    background-color: #fff !important;
}
.input-group-text i{
    color: #00554C;
}

li a:hover {
    color: #00554C !important;
}

.btn-primary {
    background-color: #00554C !important;
    border: none;
}

.btn-success{
    padding: 8px 13px 8px 13px;
    background-color: #00554C;
    border: none;
    border-radius: 6px;
}

.btn-success:hover{
    color: #fff !important;
}
.btn-outline-success:hover{
    color: #fff !important;
}

.btn-outline-success{
    color: #00554C;
    border: solid 1px #00554C;
    border-radius: 6px;
}


/* Produto */
.prod .col img{
    border-radius: 15px;
}

.carousel-item {
    border-radius: 15px !important;
}

.carousel-item .active {
    border-radius: 15px !important;
}

/* Nosso Time */
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}


/* ERROR 404 */
.page_404{
    padding: 40px 0;
    background: #fff;
}
.page_404 img {
    width: 100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
}
.four_zero_four_bg h1{
    font-size: 80px;
}

.four_zero_four_bg h3{
    font-size: 80px;
}

.link_404{
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;
}

.contant_box_404{
    margin-top: -76px;
}

/* Footer */
