/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* General */
body{
    font-family: "Poppins";
}

.title{
    font-size: 3rem;
    font-weight: 600;
    color: #00554C;
}

.subtitle{
    font-size: 1rem;
    color: #666;
}

.nav-link:hover{
    color: #00554C !important;
}

.icon{
    font-size: 1.3rem;
}

.icon i:hover{
    color: #00554C !important;
}

.btn-success{
    padding: 8px 13px 8px 13px;
    background-color: #00554C;
    border: none;
    border-radius: 6px;
}

.btn-outline-success{
    color: #00554C;
    border: solid 1px #00554C;
    border-radius: 6px;
}